<h1>Editing game</h1>

<% form_for(@game) do |f| %>
  <%= f.error_messages %>
  <div><%= f.text_field :title %></div>
  <div><%= f.text_area :description %></div>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @game %> |
<%= link_to 'Back', games_path %>
