<div>
    <%= link_to "back", games_path() %> - 
    <%= primary "Edit Game", edit_game_path(@game)  %>
</div>
<h1><%= @game.title %></h1> 

<p><b>Description</b> <%= h(@game.description).gsub(/\n/, '<br>') %></p>
<p>Players: <%= players(@game) %>
</p>
<p>Categories:
    <% @game.categories.each do |c| %>
        <%= link_to c.name, games_path(:category => c)%>
    <% end %>
</p>


<!-- Comments -->
<h3>Comments</h3>
<div id='comments'>
<% @game.comments.each do |c| %>
    <%= render :partial => 'comment', :locals => {:c => c} %>
<% end %>
</div>

<h4>Add a comment</h4>
<div id='results'></div>
<% remote_form_for [@game, @comment] do |f| %>
  <%= f.error_messages %>
  <%= f.text_area :body %>
  <p><%= f.submit "Create" %></p>
<% end %>


