<html>
<head>
    <title>Game Night Games</title> 
    <link rel='stylesheet' type='text/css' href='/stylesheets/main.css'>
    <script type='text/javascript' src='/javascripts/jquery.js'></script>
    <script type='text/javascript' src='/javascripts/gamebox.js'></script>
      
</head>
<body>

<div id='top'> 
      
        <%= render :partial => 'layouts/header' %>
        <div id='content' class='main'>
            <%= yield -%>
        </div>
</div>
<div id='bottom'>
    <div class='about'>
        <h2>What is Game Night?</h2> 
        <span>Game Night is about sharing games.  Everyone knows some, so share yours!</span>
        <div class='links'>
            <div><a href='<%= login_path %>'>Login or Signup for an Account</a></div>
            <div><a href='<%= new_game_path %>'>Post a new game</a></div>
        </div>
    </div>
    <div class='categories'>
        <h2>Categories</h2> 
        <div class='links linkbox large'>
            <% @categories.each do |c| %>
            <div><a href='<%= games_path(:category => c) %>'><%= c.name %></a></div>
            <% end %>
        </div>
            
    </div>
        
   <div class='final'>
      Site and design &copy; 2008 Sean Hess and Steel Potato Network.  All games are published under the Creative Commons License unless marked otherwise
   </div>
</div>
</body>
</html>