<html>
<head>
    <%= render :partial => 'layouts/meta' %>
    <%= render :partial => 'layouts/scripts' %>
    <%= yield :head %>
</head>
<body class="body"> <!-- class='<%= controller.controller_name %> <%= controller.action_name %>': allows us to style things for individual actions or controllers -->
           
<%#= render :partial => 'layouts/flash' %>   
<%= render :partial => 'layouts/banner' %>
<%= render :partial => 'layouts/header' %>

<div id='content'>
    <%= yield %>
</div>

<%= render :partial => 'layouts/copyright' %>
</body>
</html>